@keyframes slidein {
  0% {
    transform: translateY(var(--translate-start));
  }
  70% {
    transform: translateY(var(--translate-start));
  }
  100% {
    transform: translateY(var(--translate-end));
  }
}
@keyframes scaleY {
  0% {
    transform: scaleY(var(--scale-start));
  }
  100% {
    transform: scaleY(var(--scale-end));
  }
}

.Preloader {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-main-accent);
  /* font styles */
  font-size: var(--font-size-xl);
  font-weight: 800;
  letter-spacing: -4px;
  /* animate */
  transform: translateY(-100%);
  --translate-start: 0;
  --translate-end: -100%;
  animation-name: slidein;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.PreloaderInner {
  display: flex;
  width: 40vw;
  height: 40vh;
  align-items: center;
  justify-content: center;
  color: var(--color-main-accent);
  background-color: #fff;
  /* animate */
  transform: translateY(0);
  transform-origin: 0 100%;
  --scale-start: 0;
  --scale-end: 1;
  --translate-start: 0;
  --translate-end: 60%;
  animation: scaleY 0s 1s, slideIn 1s 1s;
  /* animation-fill-mode: forwards; */
}
